<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link type="text/css" rel="stylesheet" href="http://cdn.nga.mil/libs/Bootstrap/versions/3.3.2/bootstrap.min.css" />
    <!--<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>-->
    <link type="text/css" rel="stylesheet" href="http://cdn.nga.mil/libs/FontAwesome/versions/4.7.0/font-awesome.min.css" />
</head>
<body>
<!--/*  Multiple fragments may be defined in one file */-->
<div th:fragment="header" th:align="center">
    <h1>This is the header!</h1>
</div>

</body>
</html>