<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GSR Metrics Dashboard</title>
    <link type="text/css" rel="stylesheet" href="http://cdn.nga.mil/libs/Bootstrap/versions/3.3.6/bootstrap.min.css"></link>
    <link type="text/css" rel="stylesheet" href="http://cdn.nga.mil/libs/FontAwesome/versions/4.7.0/font-awesome.min.css" />
    <link rel="stylesheet" href="http://cdn.nga.mil/app/output/poppins.css"></link>
</head>
<body>
<div th:replace="home/header :: header">&nbsp;</div>
<h1>This is the home page!</h1>
<div th:replace="home/footer :: footer">&nbsp;</div>
</body>
</html>

